@import "../../constants.css";

.button {
  color: var(--button-primary-text);
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: inline-flex;
  padding: var(--space-s) var(--space-l);
  justify-content: center;
  align-items: center;
  min-height: 52px;
  gap: 10px;
  border-radius: var(--border-radius);
  border: none;
  background: var(--button-primary-bg);

  &:hover {
    background: var(--button-primary-bg-hover);
    cursor: pointer;
  }

  &.btn-disabled {
    background: var(--button-primary-bg-disabled);
    cursor: default;
  }

  &:active:not(:disabled) {
    background-color: var(--button-primary-bg-active);
  }

  &.btn-loading {
    pointer-events: none;
  }
}

.loader {
  margin: 0;

  path {
    fill: var(--button-primary-text);
  }
}
