.header {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 64px;
  border-bottom: 2px solid #d9d9d9;
  background: #f6f8fa;
}

.title {
  margin-left: 24px;
}

.icon {
  margin-left: 100px;
}

.profile {
  margin-left: auto;
  margin-right: 103px;
}
