@import "../../../constants.css";

body {
  margin: 0;
  background: #f6f8fa;
  font-family: sans-serif;
}

.title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 24px;
  font-family: sans-serif;
}

.subtitle,
.notfoundText {
  color: var(--text-secondary);
  text-align: center;
  margin: 0;
  font-family: sans-serif;
}

.firstText {
  margin-top: 30px;
}

//  .dropdownn {
//    margin: 18px 0 20px 100px;
//  }

.topicInput {
  max-width: 30%;
  margin: 18px 0 20px 100px;

  @media (max-width: 600px) {
    margin-left: 40px;
  }
}

.orgInput {
  display: flex;
  max-width: 100%;
  margin-left: 100px;
  margin-right: 206px;
  margin-bottom: 36px;

  @media (max-width: 600px) {
    margin-left: 40px;
    margin-right: 160px;
  }
}

.button {
  margin-left: 19px;
  border-radius: var(--button-border-radius);
  background: var(--button-primary-bg);
}

.repsList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 80px;
  margin: 36px 103px 41px 100px;

  @media (max-width: 600px) {
    margin: 36px 40px 41px 40px;
  }
}

.repCard {
  max-width: 360px;

  @media (max-width: 1475px) {
    max-width: 270px;
  }

  @media (max-width: 1205px) {
    max-width: 360px;
  }
}

.captionSlot {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 18px;
  align-self: stretch;
  color: var(--text-secondary);
  text-overflow: ellipsis;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
}

.captionStars {
  display: flex;
  align-items: center;

  svg {
    margin-bottom: 3px;
    margin-right: 3px;
  }

  path {
    fill: var(--star-accent);
  }
}

.listLoader {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.modalInput {
  width: 80%;
  border: 1px solid #656d76;
}
