@import "../../../../../constants.css";

.contributor {
  display: flex;
  align-items: center;
  gap: var(--space-xxs);
}

.title {
  color: var(--text-primary);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.login {
  color: var(--text-primary);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.logo {
  border-radius: 32px;
  border: 1px solid #ecebeb;
  background: lightgray;
  width: 32px;
  height: 32px;
}

.name {
  color: var(--text-secondary);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
